body {
  font-family: 'Open Sans', sans-serif;
  background: #f0f6ff;
  margin: 0 auto;
  max-width: 780px;
  font-size: 12pt;
  line-height: 1.5em;
  padding-bottom: 10vh;
}

h1 {
  font-size: 160%;
  line-height: 1.2em;
}

h2 {
  font-size: 120%;
  line-height: 1.2em;
}

p {
  padding: 0;
  margin: 1.5ex 0;
}

ul, li {
  margin: 1ex 0;
  padding: 0;
}

a {
  color: #27798e;
}

.title {
  padding: 10vh 2.5vw 2vh;
  margin: 0;
  text-align: center;
  font-size: 200%;
}

.subtitle {
  padding: 1vh 2.5vw 2vh;
  margin: 0;
  font-weight: bold;
  text-align: center;
}

.intro, .start-here {
  padding: 1vh 2.5vw;
  margin: 0;
}

.link-button {
  display: block;
  background-color: #3fc1e2;
  color: #fff;
  padding: 0.5em;
  margin: 0.5em auto;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  max-width: 360px;
  text-align: center;
}

.intro {
}

.start-here {
  margin: 0;
}
