.todo {
  list-style-type: none;
}
.todo:before {
  content: "☐";
  position: absolute;
}
.todo-completed {
  composes: todo;
  text-decoration: line-through;
}
.todo-completed:before {
  content: "☑";
}
