.call-to-action {
  margin: 6vh 2.5vw;
  padding: 1ex 5vw;
  background: #fff;
  box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.26);
}

.call-to-action h1 {
  margin: 1ex 0 0 0;
  padding: 0;
}

.call-to-action time {
  font-size: 85%;
  padding: 1ex 0 1ex;
  display: block;
  color: rgb(173, 173, 173);
}

.script {
  padding: 0;
  overflow: hidden;
}

.notes {
  margin: 0;
  padding: 0;
}

.phone-numbers {
  margin: 0;
  padding: 1ex 0 0 0;
}
