.call-to-action {
    position: relative;
    margin: 6vh 2.5vw;
    padding: 4%;
    background: #fff;
}

.call-to-action h1 {
    margin: 0;
    padding: 0;
}

.call-to-action time {
    font-weight: 700;
    padding: 0 0 2.5vh;
    display: block;
}

.call-to-action .script {
    padding: 0;
    overflow: hidden;
}

.call-to-action .notes {
    margin: 0;
    padding: 0;
}
