.phone-number-block {
  padding: 0;
  margin: 0 0 1.5ex;
}

.name {
  display: inline;
  font-weight: bold;
}

.name::after {
  content: ' ';
  display: inline;
}

.phone-number {
  display: inline;
}
